In [1]:
import pyspark as sp
from pyspark import SparkContext
sc=SparkContext()
spark=sp.sql.SparkSession.builder.master("local").appName("testpipe").getOrCreate()

In [2]:
data=spark.read.csv('data.csv',header=True,inferSchema=True)

In [3]:
from pyspark.sql import *

Employee = Row("firstName", "lastName", "email", "salary")

employee1 = Employee('Basher', 'armbrust', 'bash@edureka.co', 100000)
employee2 = Employee('Daniel', 'meng', 'daniel@stanford.edu', 120000 )
employee3 = Employee('Muriel', None, 'muriel@waterloo.edu', 140000 )
employee4 = Employee('Rachel', 'wendell', 'rach_3@edureka.co', 160000 )
employee5 = Employee('Zach', 'galifianakis', 'zach_g@edureka.co', 160000 )

dframe = spark.createDataFrame([employee1,employee2,employee3,employee4,employee5])
dframe.select('*').show(5)

+---------+------------+-------------------+------+
|firstName|    lastName|              email|salary|
+---------+------------+-------------------+------+
|   Basher|    armbrust|    bash@edureka.co|100000|
|   Daniel|        meng|daniel@stanford.edu|120000|
|   Muriel|        null|muriel@waterloo.edu|140000|
|   Rachel|     wendell|  rach_3@edureka.co|160000|
|     Zach|galifianakis|  zach_g@edureka.co|160000|
+---------+------------+-------------------+------+

In [17]:
date=Row('id','joining_date')


date1=date(10,'21-04-1998')
date2=date(20,'21-04-1998')
date3=date(30,'21-04-1998')
date4=date(45,'21-04-1998')
date5=date(50,'21-04-1998')
date6=date(60,'21-04-1998')
date7=date(70,'21-04-1998')
date8=date(25,'21-04-1998')
date9=date(26,'21-04-1998')
date10=date(35,'21-04-1998')
date11=date(100,'21-04-1998')

df =spark.createDataFrame([date1,date2,date3,date4,date5,date6,date7,date8,date9,date10,date11])
df.select('*').show()

+---+------------+
| id|joining_date|
+---+------------+
| 10|  21-04-1998|
| 20|  21-04-1998|
| 30|  21-04-1998|
| 45|  21-04-1998|
| 50|  21-04-1998|
| 60|  21-04-1998|
| 70|  21-04-1998|
| 25|  21-04-1998|
| 26|  21-04-1998|
| 35|  21-04-1998|
|100|  21-04-1998|
+---+------------+

In [13]:
data.select('*').show(5)

+---+---+
|  X|  Y|
+---+---+
| 10|1.0|
| 20|2.0|
| 30|3.0|
| 45|4.2|
| 50|5.2|
+---+---+
only showing top 5 rows

In [19]:
joined=data.join(df,df['id']==data['X'])

In [20]:
joined.show()

+---+----+---+------------+
|  X|   Y| id|joining_date|
+---+----+---+------------+
| 10| 1.0| 10|  21-04-1998|
| 20| 2.0| 20|  21-04-1998|
| 30| 3.0| 30|  21-04-1998|
| 45| 4.2| 45|  21-04-1998|
| 50| 5.2| 50|  21-04-1998|
| 60| 6.3| 60|  21-04-1998|
| 70| 7.1| 70|  21-04-1998|
| 25| 2.1| 25|  21-04-1998|
| 26| 2.4| 26|  21-04-1998|
| 35| 3.3| 35|  21-04-1998|
|100|10.0|100|  21-04-1998|
+---+----+---+------------+

In [21]:
joined.printSchema()

root
 |-- X: integer (nullable = true)
 |-- Y: double (nullable = true)
 |-- id: long (nullable = true)
 |-- joining_date: string (nullable = true)

In [24]:
pand=joined.toPandas()

In [25]:
pand.to_csv('datacheck.csv')